---
---

@import "{{ site.theme }}";

/* append your custom style below */
  a {
    color: #ff3d62
}

  a:hover {
    color: #a32455;
}

h1 {
  color: #ff3d62;
}

h2 {
  color: #ff3d62;
}

h3 {
  color: #ff3d62;
}

h4 {
  color: #ff3d62;
}

h5 {
  color: #ff3d62;
}

h6 {
  color: #ff3d62;
}

footer a {
  color: #ff3d62;
}

.post-tag:hover {
  background-color:#ff3d62;
  border-color:#ff3d62;
  color: #fff;
}