---
---

@import "{{ site.theme }}";

/* append your custom style below */
  a {
    color: #ff3d62
}

  a:hover {
    color: #a32455;
}

  .post-tag {
    color: #ff3d62;
}

  #panel-wrapper, .post-tag {
    border: 1px solid #ff3d62;
}

  h1, h2, h3, h4, h5, h6 {
    color: #ff3d62
}