---
---

@import "{{ site.theme }}";

/* append your custom style below */
  a {
    color: #ff3d62
}

  a:hover {
    color: #a32455;
}

h1 {
  color: #ff3d62;
}

h2 {
  color: #ff3d62;
}

h3 {
  color: #ff3d62;
}

h4 {
  color: #ff3d62;
}

h5 {
  color: #ff3d62;
}

h6 {
  color: #ff3d62;
}

#related-posts .card h3, h1 + .post-meta em a, h1 + .post-meta em, footer a {
  color: #ff3d62;
}