/* Polices */
@font-face {
    font-family: 'Pleasewritemeasong';
    src: url('../font/Pleasewritemeasong.ttf') format('truetype');
}

/* Positionnement du paragraphe en haut à gauche */
#top-left-paragraph {
    position: absolute;
    top: 0;
    right: 200px;
    font-size: 260%;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

#top-left-paragraph:hover {
    color: #ff7b00;
}

/* Réinitialisation des styles de base */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    width: 100%;
    overflow-x: hidden;
}

/* Styles de la section principale */
section {
    font-family: "Roboto", Arial;
}

section p {
    margin-top: 15px;
    margin-bottom: 0;
    text-align: justify;
    font-family: Verdana;
}

/* Mise en page générale avec une largeur maximale de 730px */
header, main, footer {
    max-width: 730px;
    margin: 0 auto;
    padding: 20px;
}

/* Styles pour la section principale */
main {
    padding: 0 100px;
    font-size: 115%;
}

h1, h2 {
    margin-bottom: 0;
    font-size: 220%;
    font-weight: bold;
    font-family: "Pleasewritemeasong";
}

/* Styles pour le pied de page */
.footer {
    color: white;
    text-align: center;
    position: relative;
    width: 100%;
    padding: 60px 0;
    overflow: hidden;
    margin-top: 100px;
}

.footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: -1;
}

.footer-content {
    align-items: center;
    font-family: "Roboto", Arial;
}

/* Effet de survol pour les liens du pied de page */
.footer-content a:hover {
    color: #ff7b00;
}

.footer-content a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

/* Styles pour les écrans plus petits */
@media (max-width: 768px) {
    header, main, footer {
        padding: 10px;
    }

    .footer-content {
        flex-direction: column;
    }
}

/* Styles pour le conteneur d'images */
.image-container {
    text-align: center;
}

.image-container img {
    max-width: 65%;
    height: auto;
}

/* Styles pour le menu */
.menu {
    position: absolute;
    top: 20px;
    left: 70px;
    list-style: none;
    font-size: 140%;
}

.menu li {
    margin-bottom: 10px;
}

ul.menu {
    padding-left: 0;
    padding-right: 18px;
}

.menu a {
    font-weight: bold;
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
    display: block;
}

/* Effet de survol pour les liens du menu */
.menu a:hover {
    color: #ff7b00;
}

/* Styles pour les liens */
a:hover {
    color: #ff7b00;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #583a31;
    transition: color 0.3s;
}

/* Styles pour le calendrier */
.calendar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.calendar {
    padding: 30px;
    max-width: calc(100% - 40px);
    overflow-x: auto;
}

.row {
    display: flex;
    align-items: center;
}

.circle {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: 1px solid #000;
    display: inline-block;
    margin: 2px;
}

.circle.filled {
    background-color: #000;
    color: #fff;
}

/* Espace ajouté au milieu du calendrier */
.row:nth-child(26)::after {
    content: '';
    display: block;
    height: 10px;
}

.line-number {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
