/* Polices */
@font-face {
    font-family: 'alagard';
    src: url('../font/alagard.ttf') format('truetype');
}

/* Réinitialisation des styles de base */
body, html {
    background-image: url("../img/graphy.png");
    background-repeat: repeat;
    background-color: #c0c0c0;
    margin: 0;
    padding: 0;
    font-family: "alagard", Arial, sans-serif;
    width: 100%;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
}

/* Section principale */
section p {
    margin: 0 0 25px 0;
    text-align: justify;
}

/* Mise en page globale */
header, main, footer {
    max-width: 730px;
    margin: 0 auto;
    padding: 20px;
}

main {
    padding: 0 100px;
    font-size: 115%;
}

h1, h2 {
    margin: 15px 0;
    font-size: 220%;
    font-weight: bold;
}

/* Styles pour le pied de page */
/* Styles pour le pied de page */
.footer {
    color: #FBFBFB;
    text-align: center;
    position: sticky; /* Modifiez la position en "sticky" */
    bottom: 0; /* Fixez le pied de page en bas de la page */
    width: 100%;
    padding: 60px 0;
    overflow: hidden;
    margin-top: 115px;
    background-color: #000000;
    z-index: 2; /* Assurez-vous que le pied de page est au-dessus du contenu */
}

.footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: -1;
}

.footer-content {
    align-items: center;
    font-family: "alagard", Arial;
}

/* Effet de survol pour les liens du pied de page */
.footer-content a:hover {
    color: #ff7b00;
}

.footer-content a {
    text-decoration: none;
    color: #FBFBFB;
    transition: color 0.3s;
}


/* Conteneur d'images */
.image-container {
    text-align: center;
}

.image-container img {
    max-width: 65%;
    height: auto;
}

/* Menu */
.menu-button {
    background-color: #f3f3f3;
    border-radius: 20%;
    display: block;
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 10;
}

.menu {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFF;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 9;
    backdrop-filter: blur(2px);
}

/* Menu ouvert au survol pour desktop */
.menu-button:hover + .menu {
    display: flex;
    transform: translateX(0);
}

.menu:hover {
    display: flex;
    transform: translateX(0);
}

.menu li {
    margin-bottom: 10px;
    list-style-type: none;
}

.menu a {
    font-size: 130%;
    text-decoration: none;
    color: #FFF;
    transition: color 0.3s;
    display: block;
}

.menu a:hover {
    color: #327e62;
}

/* Liens */
a {
    font-weight: bold;
    text-decoration: none;
    color: #583a31;
    transition: color 0.3s;
}

a:hover {
    color: #327e62;
}

/* Comportement pour les écrans mobiles */
@media (max-width: 768px) {
    header, main, footer {
        padding: 10px;
    }

    .footer-content {
        flex-direction: column;
    }

    .menu {
        display: none;
    }

    .menu.open {
        display: flex;
        transform: translateX(0);
    }

    .menu-button:hover + .menu,
    .menu:hover {
        display: none;
    }
}
